#gallery {
  background-color: var(--darkCyan);
  padding: 140px 10%;
  color: var(--defaultWhite);
}

#gallery .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.img-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.img-gallery img {
  width: 100%;
  border-radius: 10px;
}

.img-gallery img:hover {
  cursor: pointer;
  scale: 1.05;
}
